# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml


src/main/resources/
src/test/
target/
.json
pom.xml
serverbot.iml
config.java